<div class="tasks-container">
  @if (tasks$ | async; as tasks) {
    <ul class="tasks-list">
      @for (task of tasks; track task.id) {
        <li class="task-item">
          {{ task.title }}
          <button type="button" (click)="highlight(task)">
            Mettre en avant
          </button>
          <button type="button" (click)="deleteTask(task.id)">Supprimer</button>
        </li>
      }
    </ul>
  } @else {
    <p class="loading-message">Chargement des tâches ...</p>
  }

  <div class="actions">
    <h3 class="actions-title">Actions</h3>
    <form [formGroup]="taskForm">
      <input type="text" name="taskName" id="taskName" formControlName="name" placeholder="Titre de la tâche">
      <button class="btn btn-primary" (click)="addTask()">
        Ajouter une tâche
      </button>
    </form>
  </div>

  <!-- Zone d'injection du composant dynamique -->
  <div #highlightContainer></div>
</div>
